@media print {
    .shadow-md,
    .shadow-sm,
    .shadow {
        @apply shadow-none;
    }
    .shadow-lg {
        @apply shadow-none;
    }
    .shadow-0 {
        @apply shadow-none;
    }
    .drop-shadow-md {
        @apply shadow-none;
    }

    /* Page break after first section */
    .break-after-page {
        page-break-after: always !important;
        break-after: page !important;
    }

    /* Hide hr when there's a page break */
    hr.hidden {
        display: none !important;
        visibility: hidden !important;
    }
}
.shadow-md,
.shadow-sm,
.shadow {
    @apply shadow-none;
}
.shadow-lg {
    @apply shadow-none;
}
.shadow-0 {
    @apply shadow-none;
}
.drop-shadow-md {
    @apply shadow-none;
}

@page {
    margin-top: 50cm;
    margin-bottom: 50cm;
}
